@font-face {
	font-family: 'DSDigital';
	src: url('../Fonts/DSDigital.woff2') format('woff2'), url("../Fonts/DSDigital.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

#timer_div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'DSDigital', monospace;
	position: absolute;
	bottom: 10px;
}

#timer_div_minutes,
#timer_div_seconds {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#timer_minutes,
#timer_seconds {
	font-size: 5rem;
	font-weight: 100;
	margin: 0;
}

#btn {
	background-color: transparent;
	display: flex;
	border-radius: 50%;
	border: 1px solid white;
	width: 35px;
	height: 35px;
	align-items: center;
	cursor: pointer;
}

#ratio {
	font-size: 4em;
	margin: 0;
}

@media screen and (max-width: 750px) {
	#timer_div {
		top: 3px;
		bottom: auto;
		right: 0;
	}

	#btn {
		width: 30px;
		height: 30px;
	}

	#timer_div_minutes,
	#timer_div_seconds {
		width: 50px;
		height: auto;
	}

	#ratio {
		font-size: 3rem;
	}

	#timer_minutes,
	#timer_seconds {
		font-size: 3rem;
	}

}