html {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body {
	background-color: #1A1A1D;
	color: white;
	font-family: monospace;
	font-size: 1em;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90svh;
}

#section {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 5px;
}

.div {
	width: 150px;
	height: 150px;
	border: 1px solid #fff;
	cursor: pointer;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1A535C;
	border-radius: 8px;
}

.win_info_h1 {
	font-size: 5em;
	text-align: center;
}

#accessibility_btn {
	border: 2px solid white;
	font-size: 1rem;
	border-radius: 4px;
	font-family: monospace;
	font-weight: 900;
	background: transparent;
	color: white;
	padding: 8px;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.no_click {
	pointer-events: none;
}

.no_click1 {
	pointer-events: none;
}

@media screen and (max-width: 750px) {
	.div {
		width: 110px;
		height: 110px;
	}

	#accessibility_btn {
		bottom: 100px;
		top: auto;
	}

	.win_info_h1 {
		font-size: 3rem;
	}

}