#new_game_btn {
	position: absolute;
	top: 160px;
	left: 10px;
	font-family: monospace;
	font-size: 1rem;
	font-weight: 900;
	padding: 8px;
	border: 2px solid #fff;
	border-radius: 4px;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
}

@media screen and (max-width: 750px) {
	#new_game_btn {
		top: auto;
		bottom: 10px;
		min-width: 134px;
	}
}